/* General Styling */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

/* Navbar Styling */
.navbar-brand, .nav-link {
    font-weight: bold;
}

.nav-link-spacing {
    padding-left: ; /* Specify padding value if needed */
    padding-right: ; /* Specify padding value if needed */
}

/* Landing Section Styling */
#landing {
    background-color: dimgray;
    color: whitesmoke;
    background-image: url("./images/sakura.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.rounded-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* Projects Section Styling */
#projects {
    background-color: #f8f9fa;
}

.card-title {
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
    font-weight: bold;
}

.card-img-top {
    max-height: 180px;
    object-fit: cover;
}

/* Tools Section Styling */
#tools {
    background-color: whitesmoke;
}

.toolsadjust, .frontendadjust, .mernadjust, .othertoolsadjust {
    font-weight: bold;
}

.frontendadjust {
    margin-top: auto;
}

.responsive-img {
    width: 30px;
    height: 30px;
}

/* Contact Section Styling */
#contacts {
    background-color: #ffffff;
    color: #212529;
}

.icon-container {
    margin-top: 15px;
}

.social-icon {
    margin: 0 20px;
    color: #333;
    font-size: 24px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.social-icon:hover {
    color: #007bff;
    text-decoration: none;
}

/* Container Styling */
.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.submit {
    width: 100%;
}

/* Media Queries */
@media (min-width: 768px) {
    .navbar-nav {
        margin-left: auto;
    }
}

@media (max-width: 767px) {
    .navbar {
        text-align: center;
    }
}
